{% extends './base.html' %}
{% load static %}
{% block content %}
    <div class="row heading">
        <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
                <img src="{{ other_user.avatar.url }}">
            </div>
        </div>
        <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta">{{ other_user.username }}</a>
            <span class="heading-online" data-url="{% url 'chat:user_status' other_user.pk %}"
                  data-friend_pk="{{ other_user.pk }}"></span>
        </div>
        <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
        </div>
    </div>

    <div class="row message" id="conversation">
    </div>

    <div class="row reply">
        <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
        </div>
        <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
        </div>
        <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-1 col-xs-1 reply-send">
            <i id="chat-message-submit" class="fa fa-send fa-2x" aria-hidden="true"></i>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <div class="Data-rn" data-room_name="{{ room_name }}"></div>
    <div class="Data-fui" data-from_user_id="{{ user.pk }}"></div>
    <div class="Data-tui" data-to_user_id="{{ other_user.pk }}"></div>
    <script src="{% static 'js/room.js' %}"></script>
    <script src="{% static 'js/user_status.js' %}"></script>
    <script src="{% static 'js/typing.js' %}"></script>
{% endblock script %}
